@value colors: "../../constants/colors.module.css";
@value blue-grey-500 from colors;

.title {
  margin: 0 0 8px;
  font-size: 1rem;
  line-height: 1.33;
}

.description {
  color: blue-grey-500;
  font-size: 0.875rem;
  margin: 0 0 22px;
}

.horizontalFormControl {
  font-size: 0.875rem;
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 4px 0;
  margin: 18px 0;
}

.smallInput {
  max-width: 52px;
}

.buttonsWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 12px;
}

@media (min-width: 576px) {
  .buttonsWrapper {
    flex-direction: row;
  }
}
